[submodule "kds"]
	path = kds
	url = git@github.com:korlibs/kds.git
[submodule "kmem"]
	path = kmem
	url = git@github.com:korlibs/kmem.git
[submodule "korma"]
	path = korma
	url = git@github.com:korlibs/korma.git
[submodule "korio"]
	path = korio
	url = git@github.com:korlibs/korio.git
[submodule "kbox2d"]
	path = kbox2d
	url = git@github.com:korlibs/kbox2d.git
[submodule "korinject"]
	path = korinject
	url = git@github.com:korlibs/korinject.git
[submodule "korim"]
	path = korim
	url = git@github.com:korlibs/korim.git
[submodule "korgw"]
	path = korgw
	url = git@github.com:korlibs/korgw.git
[submodule "korge"]
	path = korge
	url = git@github.com:korlibs/korge.git
[submodule "kortemplate"]
	path = kortemplate
	url = git@github.com:korlibs/kortemplate.git
[submodule "kbignum"]
	path = kbignum
	url = git@github.com:korlibs/kbignum.git
[submodule "korau"]
	path = korau
	url = git@github.com:korlibs/korau.git
[submodule "klogger"]
	path = klogger
	url = git@github.com:korlibs/klogger.git
[submodule "samples/korge-hello-world"]
	path = samples/korge-hello-world
	url = git@github.com:korlibs/korge-hello-world.git
[submodule "samples/korge-samples"]
	path = samples/korge-samples
	url = git@github.com:korlibs/korge-samples.git
[submodule "klock"]
	path = klock
	url = git@github.com:korlibs/klock.git
	branch = master
[submodule "krypto"]
	path = krypto
	url = git@github.com:korlibs/krypto.git
	branch = master
[submodule "korlibs-logos"]
	path = korlibs-logos
	url = git@github.com:korlibs/korlibs-logos.git
[submodule "korge-hello-world"]
	path = korge-hello-world
	url = git@github.com:korlibs/korge-hello-world.git
[submodule "easy-kotlin-mpp-gradle-plugin"]
	path = easy-kotlin-mpp-gradle-plugin
	url = git@github.com:korlibs/easy-kotlin-mpp-gradle-plugin.git
[submodule "korlibs.soywiz.com"]
	path = korlibs.soywiz.com
	url = git@github.com:korlibs/korlibs.soywiz.com.git
[submodule "korte"]
	path = korte
	url = git@github.com:korlibs/korte.git
[submodule "korge-samples"]
	path = korge-samples
	url = git@github.com:korlibs/korge-samples.git
